<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/questions"></ion-back-button>
      </ion-buttons>
    <ion-title>Question 172</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid no-padding>

        <ion-row>
          <ion-col size="3" padding>
              <ion-img src="/assets/mythi.png"></ion-img>
          </ion-col>    
        </ion-row>  
        <ion-row>
          <ion-col>
            <div class="detail">
            <p>You will realize that physical limitation does not matter after reaching certain levels of mental strength. Much can be handled by more advanced minds, moved, altered, programmed and produced at other levels of technological development. 
                The Zigs and other insectoids can do everything you do, much faster and more accurate than you might imagine.</p>
            </div>    
          </ion-col>
        </ion-row>

      </ion-grid>
</ion-content>
