<ion-header>
  <ion-toolbar color="primary" >
      <ion-buttons slot="start">
          <ion-back-button  text="" defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Questions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2">
          <ion-list>
            <!--ion-item [color]="even? '' : 'secondary'" *ngFor="let offer of offers"-->
            <ion-item routerLink="/answer" detail  >
                <ion-thumbnail slot="start">
                    <ion-img src="/assets/question.png"></ion-img>
                  </ion-thumbnail>
                <p>Is there the possibility of our Moon be cataclysmic target of a large meteor, or the Earth, in this current setting of the solar system by ISON objects?</p>

            </ion-item>
            <ion-item detail >              
                <ion-thumbnail slot="start">
                    <ion-img src="/assets/question.png"></ion-img>
                  </ion-thumbnail>
                  <p>Could you explain in more detail  about the Earth, solar system, colonization and why the Mayans and Iching, predict 2012?</p>
            </ion-item>
            <ion-item detail >          
                <ion-thumbnail slot="start">
                    <ion-img src="/assets/question.png"></ion-img>
                  </ion-thumbnail>    
                  <p>you believe that any serious events happen in our own Moon during this period?</p>
            </ion-item>
            <ion-item detail > 
                <ion-thumbnail slot="start">
                    <ion-img src="/assets/question.png"></ion-img>
                  </ion-thumbnail>
                  <p>A probe from Earth sent several pictures of a moon of Saturn, called Iapetus. The moon seems strange do you know something of it?</p>
            </ion-item>
            <ion-item detail >             
                <ion-thumbnail slot="start">
                    <ion-img src="/assets/question.png"></ion-img>
                  </ion-thumbnail>  
                  <p>There are videos showing a very large ship on the surface of our Moon and also ruins of cities.Is this true?</p>
            </ion-item>
            <ion-item detail >              
                <ion-thumbnail slot="start">
                    <ion-img src="/assets/question.png"></ion-img>
                  </ion-thumbnail>
                  <p> What caused the moon to stop its rotation, and show only one face to Earth all the time?</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>