<ion-header>
  <ion-toolbar color="primary" >
      <ion-buttons slot="start">
          <ion-back-button  text="" defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Questions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2">
          <ion-list>
            <ion-item [routerLink]="['/answer',question.number]" detail *ngFor="let question of questions">
                  <ion-thumbnail slot="start">
                    <ion-img src="/assets/question.png"></ion-img>
                  </ion-thumbnail>
                <p> {{question.question}} </p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>